<% include ../layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="content">
      <% if(posts.length) {%>
         
      <% posts.forEach( post => { %>
      <div class="post content-shadow">
        <div class="top">
          <h2>
            <a href="/posts/<%= post.url %>"><%= post.title %>
            </a>
            <% if (post.owner.login === user.login) {%>
              <a style="color: #9c9c9c; text-decoration: none;" href="/post/edit/<%= post.id %>">✎</a>
            <%}%>
          </h2>
        </div>
        <div class="body"><p><%- markdownit.render(post.body);%></p></div>
        <div class="bottom">
          <div class="author">Автор: <a href="/users/<%= post.owner.login %>"><%= post.owner.login %></a></div>
          <a href="/posts/<%=post.url%>#<%=post.id%>">Комментарии: <%=post.commentCount%></a>
        </div>
      </div>
      <%})%> 
      <div class="pagination">

        <% if (current > 2 ) { %>
        <a class="button button-previous" href="/archive/<%= Number(current) - 1 %>"><i class="icon-left-open-big"></i></a>
        <% } %> 

        <% if (current == 2 ) { %>
        <a class="button button--back-to-main" href="/">На главную</a> 
        <% } %> 

        <% if (pages > 0 && current < pages) { %>
        <a class="button button-next" href="/archive/<%= Number(current) + 1 %>"><i class="icon-right-open-big"></i></a> 
        <% } %>

      </div>

      <%} else {%>
      <div class="no-posts"><span class="no-posts-msg">Посты отсутствуют</span></div>
      <%}%>
    </div>

    <% include ../layout/sidebar.ejs %>
  </div>
</div>


<% include ../layout/footer.ejs %>
